.badge {
    width: 50px;
    height: 18px;
    top: 4px;
    position: relative;
}
.icon {
    font-size: 22px;
    color: #666;
    position: relative;
}
.fab, fa {
    font-size: 18px;
}
.fa-linkedin {    
    color: #0073b1;
}