<div class="container">

    <h2 class="mb-1">Readme</h2>
    
    <h1 class="text-primary"># User</h1>
    <h3>Razafindrakoto Fenitra Henintsoa</h3>

    <h1 class="text-primary"># angular-test-ingenosya</h1>
    <h3>Version angular 11.1.2</h3>

    <h1 class="text-primary"># Introduction </h1>
    <h3>Projet test angular chez Ingenosya</h3>
        
    <h1 class="text-primary"># Getting Started </h1>
    <h3>Guide pour lancer le projet</h3>

    <ul>
        <li>changer sur la branche development</li>
        <li>lancer la commande pour installé les pachage : npm installent</li>
        <li>lancer la commande pour lancer le projet :  ng serve</li>
        <li>Ouvrer sur le navigateur : <code>localhost:4200</code></li>
    </ul>

    <h1 class="text-primary"># Surplus dans le test </h1>
    <ul>
        <li>Ajout Navbar pour la navigation</li>
        <li>Ajout page Readme dans le projet "visible sur le navbar"</li>
        <li>Ajout Filtre sur liste des etudiants</li>
        <li>Ajout des icon dans le modal détail d'une etudiant</li>
    </ul>

</div>